* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 0 30px 0;
  background: #343a40;
  color: #fff;
  text-align: center;
}

header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
}

button {
  padding: 5px;
  border-radius: 10px;
  background: #343a40;
  color: #fff;
}

.search-area {
  margin: 0 auto;
}

.translate-area {
  margin: auto;
  width: 5%;
  padding: 10px;
}